<% title = "Child Template" %>exerciseAlerte
<%- contentFor('mainNotMarged') %>  
<%- contentFor('main') %>
<form action="/admin/program-draft/create" method="POST">
    <h2 class="my-5">
        <a href="/admin/train" class="btn btn-outline-primary"><i class="fa-solid fa-arrow-left-long"></i></a>  
        <button class="btn btn-outline-danger block-btn" data-bs-toggle="modal" data-bs-target="#deletePromalModalprogramid"><i class="fa-solid fa-trash"></i></button>   
        <input type="text" name="name" class="form-control w-auto h1" placeholder="nom du programme" value="Entraînement" required/>
        <input type="submit" name="save" class="btn btn-primary" value="Sauvegarder"/>
    </h2>
    <div class="my-5">
        <textarea name="description" class="form-control" placeholder="Descripton" required></textarea>
    </div>
    
<%- include('../_modals/_program-delete.modal.ejs'); %>

<script>
    btns = document.querySelectorAll('.block-btn')
    btns.forEach(btn => btn.addEventListener('click', function(e){e.preventDefault();}));
</script>
