<% title = "Child Template" %>exerciseAlerte
<%- contentFor('mainNotMarged') %> 
<form action="/admin/program-draft/create" method="POST"  enctype="multipart/form-data">   

    <div class="row">
        <div id="imageVisualisation" class="col col-8" style="height: 18em; max-width: 70%; background-image: url(/media/photo/palceholder-elderly-fit.jpg); background-size: cover; background-position : center; background-color: rgb(255, 255, 255);">
        </div>
        <div class="col col-4 py-5">
            <h2>
                <div class="d-flex">
                    <a href="/admin/train" class="m-2 ms-0 btn btn-outline-primary"><i class="fa-solid fa-arrow-left-long"></i></a>  
                    <button class="m-2 btn btn-outline-danger block-btn" data-bs-toggle="modal" data-bs-target="#deletePromalModalprogramid"><i class="fa-solid fa-trash"></i></button>   
                    <input type="text" name="name" class="m-2 form-control w-auto h1" placeholder="nom du programme" required/>
                </div>
            </h2>
            <div class="d-flex ">
                <input type="submit" name="save" class="m-2 ms-0 btn btn-primary" value="Sauvegarder"/>
            </div>
        </div>
    </div> 
<%- contentFor('main') %>
    <div class="my-5">
        <input type="file" name="imageUrl" class="form-control my-5" placeholder="Image d'arrière plan" required/>
        <textarea name="description" class="form-control my-5" placeholder="Descripton" required></textarea>
    </div>
</form>  

<script src="/js/block.btn.js" type="text/javascript"></script>
<script src="/js/train/previewImage.js" type="text/javascript"></script>
