<% title = "Child Template" %>exerciseAlerte
<%- contentFor('mainNotMarged') %>  
<%- contentFor('main') %>
<h2 class="my-5">Programme</h2>

<div class="bg-light py-3 pt-0">
    <table class="table table-striped my-5">
        <thead class="table-dark">
            <tr>
                <th colspan="3 ">
                <h3>Programmes <button class="btn btn-primary"> + </button> </h3> 
                </th>
            </tr>
        </thead>
    </table>
    <div >
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div style="background-image: url(/media/photo/program.imageUrl); background-size: cover;" class="card-img-top">
                    <div class="w-100 h-auto p-2 bg-light bg-opacity-75">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="#turboRôti" class="link link-dark" data-bs-toggle="modal" data-bs-target="#dishModal"> dish[i].name </a>
                    </h5>
                    <p class="card-text">
                        <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deletePromalModalprogramid"><i class="fa-solid fa-trash"></i></button>
                        <a href="/program/id/train/id/edit" class="btn btn-outline-primary"><i class="fa-solid fa-pen"></i></a>
                        <a href="/program/id/publish"  class="btn btn-outline-primary">Publié</a>
                    </p>
                </div>
            </div>
            <%- include('../_modals/_program-delete.modal.ejs'); %>
        </div>
    </div>
</div>


<table class="table table-striped my-5">
    <thead class="table-dark">
        <tr>
             <th colspan="3 ">
               <h3>Exercices <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addExerciseModal"> + </button> </h3> 
            </th>
        </tr>
        <tr>
             <th scope="col">
                Image
            </th>  
            <th scope="col">
                Nom
            </th>
            <th scope="col">
                Action
            </th>  
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src=""/>
            </td>  
            <td>
                Nom
            </td>
            <td>
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteExerciseModalexerciseid"> <i class="fa-solid fa-trash"></i> </button>
            </td>  
        </tr>

        <div class="modal" id="deleteExerciseModalexerciseid" tabindex="-1">   
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Attention ! </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Vous êtes sur le point de supprimer l'exercice : exercise.name
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a href="/admin/exercise/id/delete" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </tbody>

    <div class="modal" id="addExerciseModal" tabindex="-1">
        <form action="/admin/exercise" method="POST">    
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ajouter un exercice</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" name="name" class="form-control my-2" placeholder="Nom"/>

                        <input type="file" name="imageUrl" class="form-control my-2" placeholder="Image de l'Exercice"/>

                    </div>
                    <div class="modal-footer">
                        <input type="reset" class="btn btn-danger" data-bs-dismiss="modal">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </form>
    </div>
</table>