<% title = "Child Template" %>
<%- contentFor('main') %>
<h2 class="my-5">Train request : </h2>

<table>
    <thead>
        <tr>
            <th> Utilsiateur</th>
            <th> Contact </th>
            <th> Objectif </th>  
            <th> Age </th>  
        </tr>
    </thead>
    <tbody>
        <tr>

        </tr>
    </tbody>
</table>