<% title = "Profil" %>

<%- contentFor('mainNotMarged') %>
<%- contentFor('main') %>
<!-- THERE WAS A PERFORMANCE TAB. A RETURN ?-->
<div class="border border rounded-bottom p-3 ongletsProfile " id="profileDescription">
    <form action="/nutritionrequirement" method="POST">
        <div class="my-3">
            <label class="text-responsive" for="size">Taille : </label>
            <input class="form-control text-responsive" id="size" name="size" type="number" value="<% if(measurments.length>0) { %><%=measurments[0].size;%><% } %>" autocomplete="size" required>
        </div>
        <div class="my-3">
            <label class="text-responsive" for="weight">Poids : </label>
            <input class="form-control text-responsive" id="weight" name="weight" type="number" value="<% if(measurments.length>0) { %><%=measurments[0].weight;%><% } %>" autocomplete="weight" required>
        </div>
        <div class="my-3">
            <label class="text-responsive" for="objectiv">Objectif : <span class="text-danger">*</span></label>
            <select class="form-select" name="objectiv">
                <option value="1">Conserver mon poids et être en meilleur form</option>
                <option value="2">Perdre du poids</option>
            </select>
        </div>
        <div class="my-3">
            <div class="my-2">
                <span class="btn btn-outline-secondary rounded-circle p-0 px-2 text-responsive">?</span> <label for="poids" class="text-responsive"> Métabolisme : <span class="text-danger text-responsive">*</span></label>
            </div>
            <select name="metabolismMultiplicator" class="form-select text-responsive">
                <option value="0.8"> Lent</option>
                <option value="1"> Normal</option>
                <option value="1.2"> Rapide</option>
                <option selected value="1.5"> Très rapide</option>
            </select>
        </div>
        <div class="my-3">
            <div class="my-2">
                <span class="btn btn-outline-secondary rounded-circle p-0 px-2 text-responsive">?</span> <label for="step" class="text-responsive"> Combien de pas faîtes-vous en moyenne chaque jour : <span class="text-danger text-responsive">*</span></label>
            </div>
            <input class="form-control text-responsive" id="step" name="step" type="number" autocomplete="step" required>
        </div>
        <div class="my-3">
            <div class="my-2 text-responsive">
                <b>Or sport</b> combien de <b>minutes</b> de travail physique faîtes-vous en moyenne par <b>semaine</b> : <span class="text-danger">*</span></label>
            </div>
            <input class="form-control text-responsive" id="crafts" name="crafts" type="number" autocomplete="crafts" required>
        </div>
        <div class="my-3">
            <div class="d-flex my-2">
                <div class="text-responsive">
                    Sexe : <span class="text-danger">*</span></label>
                </div>
                <div class="mx-2">
                    <input class="form-radio text-responsive" selected id="sexe" name="sexe" type="radio" autocomplete="sexe" value="1" required><span class="text-responsive"> Homme</span>
                </div>
                <div class="mx-2">
                    <input class="form-radio text-responsive" id="sexe" name="sexe" type="radio" autocomplete="sexe" value="2" required><span class="text-responsive"> Femme</span> 
                </div>
            </div>
           
        </div>
        <div class="my-3">
            <div class="d-flex my-2">
                <div class="text-responsive" style="max-width: 60%;">

                    Voullez-vous faire le programme sportif proposé par la plateforme ? <span class="text-danger">*</span></label>
                </div>
                <div class="mx-2">
                    <input class="form-radio text-responsive" id="wantToTrain" name="wantToTrain" type="radio" autocomplete="wantToTrain" value="true" required><span class="text-responsive">  oui</span>
                </div>
                 <div class="mx-2">
                    <input class="form-radio text-responsive" id="wantToTrain" name="wantToTrain" type="radio" autocomplete="wantToTrain" value="false" required selected><span class="text-responsive"> non</span>
                </div>
            </div>
            <div class="alert alert-warning text-responsive">
                Il sera plus compliqué pour vous d'atteindre vos objectifs en cochant non.
            </div>
        </div>
        <div class="my-5">
           <input type="submit" class="btn btn-primary text-responsive"/>
        </div>
    </form>
</div>

<!-- <link rel="stylesheet" href="https://unpkg.com/@adminkit/core@latest/dist/css/app.css"> -->
