<% title = "Détais de la diette de ce jour" %>

<%- contentFor('main') %>
<h2 class="my-5">Détais de la diette de ce jour :</h2>
<h3 id="date" >2024-01-17 00:00:00</h3>
<table class="my-3 table">
    <thead>
        <th scope="col">Nom </th>
        <th scope="col">Poids / volume </th>
        <th scope="col"></th>
    </thead>
    <tbody id="listAteFoodHTML">

    </tbody>
</table>
<div id="responseFoodAteRequest" class="my-3 alert d-none">

</div>
<script src="/js/ate_food/get.all.detail.js"></script>