<% title = "Child Template" %>

<%- contentFor('mainWithoutMarge') %>
<%- contentFor('main') %>
<h2 class="my-5">Nutrition</h2>
<div class="col">
    <form id="addFoodForms">
        <p>
            <label for="Name"> Nom : </label><br>
            <input type="text" class="form-control" id="name"/>
        </p>
        <p>
            <label for="proteine"> Protéine : </label><br>
            <input type="text" class="form-control" id="proteine"/>
        </p>
        <p>
            <label for="carbohydrate"> Glucide : </label><br>
            <input type="text" class="form-control" id="carbohydrate"/>
        </p>
        <p>
            <label for="fat"> Lipide : </label><br>
            <input type="text" class="form-control" id="fat"/>
        </p>
        <p>
            <label for="trans_fat"> Lipide saturé : </label><br>
            <input type="text" class="form-control" id="trans_fat"/>
        </p>
        <p>
            Contient de la viande/poisson :<br>
            Oui : <input required value="true" class="isMeat" name="isMeat" id="isMeat" type="radio"> Non : <input required  class="isMeat" name="isMeat" id="isMeat" type="radio">
        </p>

        <p>
            Contient des oeufs :<br>
            Oui : <input required value="true" class="isEgg" name="isEgg" type="radio"> Non : <input required  class="isEgg" name="isEgg" type="radio">
        </p>

        <p>
            Contient des produits laitier :<br>
            Oui : <input required value="true" class="isMilk" name="isMilk" type="radio"> Non : <input required  class="isMilk" name="isMilk" type="radio">
        </p>
        <p>
            <div class="alert d-none" id="addingFoodMessageElement">

            </div>
        </p>
        <p>
            <input type="submit" class="btn btn-primary"/>
        </p>
    </form>
</div>

<script src="/js/food/add.js"></script>
