<% title = "Bienvenu !" %>



<%- contentFor('mainNotMarged') %>
<div class="hero">
    <h2 class="text-white my-2 reveal scroller">Un programme remise en forme  enfin fait pour vous ! <br><span class="badge 
        <% if (disposablePlace < 100) {%>
            text-bg-danger 
        <%  } else { %>
            text-bg-primary 
        <% } %> text-white shadow-sm">100 % remboursable !</span></h2>
</div>
<%- contentFor('main') %>
    <div class="d-flex justify-content-center border-bottom video-container"> <!---->
        <div class="video d-flex justify-content-center">
            <video controls autoplay>
                <source src="/media/video/placeholder.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div class="w-auto border-bottom" style="padding: 12% 0 12% 0; height: 70%;" id="presentation-zone">
        <div class="d-flex flex-column flex-lg-row-reverse">
            <div class="w-100 w-lg-50 d-flex justify-content-center align-items-center p-5">
                <img class="w-100" src="/media/photo/palceholder-home-page-photo.jpg" data-speed="0.1" style="position: relative;">
            </div>
            <div class="w-100 w-lg-50 p-5">
                <h3 class="my-5">Qui suis-je ?</h3>
                <p class="text-responsive">Je suis Émile, j'ai 23 ans et je vis à Toulouse depuis ma naissance. Passioné de sport depuis le lycée, je suis passé d'un physique shétif presque enfantin à un corps athlétique et en bonne santé.
                </p>
                <p class="text-responsive">Ayant fait beaucoup d'erreur, j'ai compilé toute la connaissance que j'ai accumulé dans une méthode pour reprendre le contrôle sur sa santé qui soit accessible à tous quelque soit son âge ou sa forme de départ.
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center my-4 border-bottom vh-75" >
        <div class="w-100 d-flex align-items-center justify-content-end p-5">
            <h3 class="text-primary">Ce que je vous propose</h3>
        </div>
        <ul class="w-100 p-5">
            <li class="my-5 ">
                <h5 class="text-primary">Plan alimentaire personnalisé</h5> 
                <p class="text-responsive">a</p>
            </li>
            <li class="my-5">
                <h5 class="text-primary">Programme sportifs adapté aux débutants</h5>
                <p class="text-responsive">
                    Je vous emène avec moi pour s'entraîner dans la sécurité et pour épanouissement personnel afin d'atteindre vos objectifs.
                </p>
            </li>
            <li class="my-5 reveal">
                <h5 class="text-primary">Cours pour maitriser sa perte de poids en gardant de l'énergie</h5>
                 <p class="text-responsive">
                    Accéder à regimesenior.fr, c'est accéder à une académie pour comprendre simplement le corps humain, la nutrition et les clés de l'entrainement pour conserver ses gains et maximiser son énergie. 
                </p>
            </li>
            <li class="my-5">
                <h5 class="text-primary">Controle de diète</h5>
                <p class="text-responsive">
                    Une lise de recette et d'aliments et de plat avec leurs valeurs nutritionnelles détaillés afin de garder le contrôle sur sa diète.
                </p>
            </li>
        </ul>
    </div>
    <div class="w-auto" style="padding: 12% 0 12% 0; height: 70%;" >
        <% if (disposablePlace > 0) {%>
            <form action="/create-payment-intent" id="payment-form" class="formDataUser" method="POST">
                <h3 class="mb-5"> M'inscrire ! </h3>
                <input placeholder="Prénom" class="text-responsive bg-light my-4 form-control" type="text" name="name" id="name"  required/>
                <input placeholder="Email" class="text-responsive bg-light my-4 form-control" type="email" id="email" name="email" required/>
                <input placeholder="Mot de passe" class="text-responsive bg-light my-4 form-control" type="password" id="password" name="password" required/>
                <input placeholder="Confimer le mot de passe" class="text-responsive bg-light my-4 form-control" type="password" id="passwordConf" name="passwordConf" required/>

                
            <!-- </div> -->
                <div class="row my-5 justify-content-center g-4">
                    <% products.forEach((product)=> {%>
                        <%- include('_partials/_premium-card.partials.ejs', { product : product, prices : prices}); %>
                    <%} ) %>
                </div>
                <div>
                    <div id="card-element"></div>
                    <div id="message" class="alert d-none"></div>
                    <div  style="height: 35px;" class="progress my-3 d-none" id="payment-progress-bar" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="height: 35px; width: 100%; font-size: 18px;">L'application est entrain de procédé au paiement stripe</div>
                    </div>
                    <div class="row my-4">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" checked required/> En procépdant au paiement, j'accepte les <a href="">CGV</a>.<br>

                            <input class="form-check-input" type="checkbox" checked required/> Je demande expressément l’accès immédiat au contenu numérique (programmes, vidéos et outils de diète) et reconnais que l’exécution du service commence dès la validation de mon paiement. Je renonce expressément à mon droit légal de rétractation conformément à l’article L221-28 du Code de la consommation.
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary" id="confirmPay">Payer</button>
                    </div>
                </div>
            </form>
        </div>
        <% } else { %>
            <form class="">
                <p class="text-responsive">
                    Il n'y a plus de place disponible ? Saisissez-ici votre adresse mail pour être averti des prochaines place disponible.
                </p>
                <for label="email">
                    Adresse email :
                </for>
                <input class="form-control my-1" id="email" name="email"/>
                <button class="btn btn-primary"> M'avertir </button>
            </form>
        <% } %>
    </div>
<style>
  .hero {
    position: relative;
    width: 100%;
    height: 30vh; /* Optional: fills viewport height until 500px max */
    overflow: hidden;
    background-image: url('https://www.offsoho.com/images/NYC_000021208828-2100-980.jpg'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

    .video-container {
        height : 75vh;
        align-items: center;
        justify-content: center;
  
    }

    video {
        width: 70%;
    }

    @media (max-width: 1000px) {
        .hero {
            height: 45vh; /* Optional: fills viewport height until 500px max */
        }
        video {
            width: 100%;
        } 

        .video-container {
            height : 55vh;
        }

    }

    
  /* Semi-transparent black overlay */
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 50% transparent black */
    z-index: 1;
  }

    .hero h2 {
        position: relative;
        z-index: 2; /* Above overlay */
        text-align: center;
    }
</style>
<script src="https://js.stripe.com/v3/"></script>
<script src="/js/stripe.js"></script>
