<% title = "Child Template" %>

<%- contentFor('main') %>
<h2 class="my-5">Login</h2>

<form action="/login" method="post">
    <p>
      <label for="email">Email address</label>
      <input type="email" name="email" value="emile00013@gmail.com" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    </p>
    <p>
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" value="Password" id="password" placeholder="Password">
    </p>
    <p class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </p>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <% if (error) { %> 
    
    <div class="alert alert-danger my-3" role="alert">
      <%= message %>
    </div>
    
  <% } %>