<h1>Sign in</h1>
<form action="/login" method="POST">
    <section>
        <label for="email">Username</label>
        <input value="emile00013@gmail.com" id="email" name="email" type="text" autocomplete="email" required autofocus>
    </section>
    <section>
        <label for="current-password">Password</label>
        <input value="P4$$w0rd" id="current-password" name="password" type="password" autocomplete="current-password" required>
    </section>
    <input type="submit">
</form>