<% title = "Child Template" %>

<%- contentFor('main') %>
<h2 class="my-5">Sign in</h2>
<form>
    <p>
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    </p>
    <p>
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
    </p>
    <p class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </p>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>