<% title = "Child Template" %>

<%- contentFor('main') %>
<h2 class="my-5">Profile</h2>

<ul class="list-group list-group-horizontal" id="menuOnglet d-inline">
    <li class="list-group-item active boutonOnglet" onglet="ongletPerformance">Performance</li>
    <li class="list-group-item boutonOnglet" onglet="ongletMensuraions">Mensurations</li>
    <li class="list-group-item boutonOnglet" onglet="ongletCompte">Compte</li>
</ul>
<div class="border border rounded-bottom p-3 ongletsProfile d-block" id="ongletPerformance">
    <table>
        <h3 class="my-3">Performance : </h3>
        <tr>
            <th> Squat : </th>
            <td> <span id="perfZoneS"></span> kg </td>
        </tr>
        <tr>
            <th> Développé couché : </th>
            <td> <span id="perfZoneB"></span> kg </td>
        </tr>
        <tr>
            <th> Soulevé de terre : </th>
            <td> <span id="perfZoneD"></span> kg </td>
        </tr>
    </table>
    <table class="my-3 table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Soulevé de terre
                </th>
                <th>
                    Développé couché
                </th>
                <th>
                    Squat
                </th>
                <th>
                    Jour
                </th>   
            </tr>
        </thead>
        <tbody id="performanceTableBody">

        </tbody>
    </table>
    <form id="performanceForm" class="my-5">
        <p>
            <label for="benchPress">
                Développé couché : 
            </label>
            <input type="number" class="form-control" name="benchPress" id="benchPress"/>
        </p>
        <p>
            <label for="deadLift">
                Soulevé de terre : 
            </label>
            <input type="number" class="form-control" name="deadLift" id="deadLift"/>
        </p>
        <p>
            <label for="squat">
                Squat : 
             </label>
             <input type="number" class="form-control" name="squat" id="squat"/>
        </p>
        <p>
            <label for="date">
                Date : 
             </label>
             <input type="date" class="form-control" name="date" id="date"/>
        </p>
        <input type="submit" class="btn btn-primary"/>
    </form>
    <div class="alert d-none" id="ongletPerformanceAlert">

    </div>
</div>

<div class="border border rounded-bottom p-3 ongletsProfile d-none" id="ongletMensuraions">
    <table class="table table-bordered">
        <h3 class="my-3">Mensurations : </h3>
        <tr>
            <th> Poids : </th>
            <td> <span id="weightZone"></span> kg </td>
            <th> Tour d'épaule : </th>
            <td> <span id="suroundSouldersZone"> </span> cm </td>
        </tr>
        <tr>
            <th> Taille : </th>
            <td> <span id="sizeZone"></span> cm </td>
            <th> Tour de bras : </th>
            <td> <span id="suroundArmsZone"> </span> cm </td>
        </tr>
        <tr>
            <th> Tour de taille : </th>
            <td> <span id="suroundWaistZone"> </span> cm </td>
            <th> Tour de torse : </th>
            <td> <span id="suroundChestZone"> </span> cm </td>
        </tr>
        <tr>
            
        </tr>
        
    </table>
    <table class="table my-3" id="measurmentTable">
        <thead>
          <tr>
            <th scope="col">Poids</th>
            <th scope="col">Taille</th>
            <th scope="col">Epaule</th>
            <th scope="col">Torse</th>
            <th scope="col">Bras</th>
            <th scope="col">Taille (tours)</th>
          </tr>
        </thead>
        <tbody id="measurmentTableBody">
        </tbody>
      </table>
    <form class="my-5" id="measurmentForm">
        <div class="my-3 row my-1" >
            <div class="col-2">
                <label for="weight">
                    Poids 
                </label>
            </div>
            <div class="col-3">
                <input class="form-control" value="64" type="number" step="0.1" id="weight"/>
            </div>
            <div class="col-2">
                <label for="size">
                    Taille
                </label>
            </div>
            <div class="col-3">
                <input class="form-control" value="173" pattern="[0-9]*[.,]?[0-9]*" type="number" step="0.1" id="size"/>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2">
                <label for="suroundSoulders">
                    Tour d'épaule
                </label>
            </div>
            <div class="col-3">
                <input class="form-control" value="120" type="number" step="0.1" id="suroundSoulders"/>
            </div>
            <div class="col-2">
                <label for="size">
                    Tour de taille 
                </label>
            </div>
            <div class="col-3">
                <input class="form-control" value="80" type="number" step="0.1" id="suroundWaist"/>
            </div>  
        </div>
        <div class="row my-1">
            <div class="col-2">
                <label for="suroundSoulders">
                    Tour de bras
                </label>
            </div>
            <div class="col-3">
                <input class="form-control" value="32" type="number" step="0.1" id="suroundArms"/>
            </div>
            <div class="col-2">
                <label for="size">
                    Tour de torse 
                </label>
            </div>
            <div class="col-3">
                <input class="form-control " type="number" step="0.1" value="120" id="suroundChest"/>
            </div>  
        </div>

        <input type="submit" class="btn btn-primary"/>
    </form>

    <div id="ongletMeasurmentAlert" class="alert d-none"></div>

</div>
<div class="border border rounded-bottom p-3 ongletsProfile d-none" id="ongletCompte">
    <h3 class="my-3">Compte : </h3>
    <form id="userForm" class="my-3">
        <p>
            <label for="email"> Email : </label>
            <input class="form-control" type="email" value='<%= user.email %>' id="email" required>
        </p>
        <p>
            <label for="name"> Nom : </label>
            <input class="form-control" type="text" value='<%= user.name %>' id="name" required>
        </p>
        <p>
            <label for="password"> Mot de passe : </label>
            <input class="form-control" type="password" id="password" required>
        </p>
        <p>
            <label for="confirmpassword"> Confirmer le mot de passe : </label>
            <input class="form-control" type="password" id="confirmpassword" required>
        </p>   
        <input type="submit" class="btn btn-primary" value="Mettre à jour"/>
    </form>  

    <div id="ongletCompteAlert" class="alert d-none"></div>

</div>
<script>

    let performanceTableBody = document.querySelector('#performanceTableBody');
    let perfZoneB = document.querySelector('#perfZoneB');
    let perfZoneD = document.querySelector('#perfZoneD')
    let perfZoneS = document.querySelector('#perfZoneS')

    async function fetchData() {
        
        const promise = await fetch('/api/performance', {
            methode: 'GET',
            headers: {'Content-type': 'application/json'}
        }).catch(error => console.log('error', error));

        let res = await promise.json();
        
        if (res.code == 200) {

            const lastPerf = res.data[0]

            perfZoneS.innerHTML = lastPerf.rmBench;
            perfZoneB.innerHTML = lastPerf.rmSquat;
            perfZoneD.innerHTML = lastPerf.rmDeadlift;
            
            let rowPerf = '';

            res.data.forEach(performance => {

                rowPerf += '<tr><td>' + performance.rmDeadlift + ' kg </td><td>' + performance.rmBench + ' kg </td><td>' + performance.rmSquat + ' kg </td><td>' + performance.createdAt.slice(0, 10) + '</td></tr>';
              
            })

            performanceTableBody.innerHTML = rowPerf;

        } else {

            alert("404");

        }
    }

    fetchData();

    let performanceForm = document.querySelector('#performanceForm');
    let squat = document.querySelector('#squat');
    let benchPress = document.querySelector('#benchPress');
    let deadLift = document.querySelector('#deadLift');
    let date = document.querySelector('#date');
    let ongletPerformanceAlert = document.querySelector('#ongletPerformanceAlert');

    performanceForm.addEventListener('submit', async function(event){

        event.preventDefault();

        const rawData = JSON.stringify({
            rmSquat: squat.value,
            rmBench: benchPress.value,
            rmDeadlift: deadLift.value,
            createdAt: date.value,
            updatedAt: date.value
        })

        fetch('/api/performance', {
            method: 'POST',
            headers: {"Content-type": "application/json"},
            body: rawData
        }).then(response => response.json())
        .then(data => {
            
            
            if(data.code != 201){

                ongletPerformanceAlert.classList.remove('alert-danger');
                ongletPerformanceAlert.classList.remove('d-none');
                ongletPerformanceAlert.classList.add('alert-success');
                ongletPerformanceAlert.innerHTML = "Error : " + data.code + " <br> " + data.message;
                    fetchData()

            } else {

                ongletPerformanceAlert.classList.remove('alert-danger');
                ongletPerformanceAlert.classList.remove('d-none');
                ongletPerformanceAlert.classList.add('alert-success');
                ongletPerformanceAlert.innerHTML = data.message;

            }

        })
        .catch(error => console.log('error', error));

    });

</script>
<script>
    
    let userForm = document.getElementById("userForm");
    let email = document.getElementById("email");
    let name = document.getElementById("name");
    let confirmpassword = document.getElementById("confirmpassword");
    let password = document.getElementById("password");
    let ongletCompteAlert = document.getElementById("ongletCompteAlert");

    userForm.addEventListener('submit', function(event){

        event.preventDefault();

        const raw = JSON.stringify({
            email: email.value,
            name: name.value,
            password: password.value,
        });

        fetch('/api/users', {
            method: 'PATCH',
            headers: {"Content-Type": "application/json"},
            body: raw,
        }).then(response => response.json())
        .then(data => {
            
            
            if(data.code != 201){

                ongletCompteAlert.classList.remove('alert-danger');
                ongletCompteAlert.classList.remove('d-none');
                ongletCompteAlert.classList.add('alert-success');
                ongletCompteAlert.innerHTML = "Error : " + data.code + " <br> " + data.message;

            } else {

                ongletCompteAlert.classList.remove('alert-danger');
                ongletCompteAlert.classList.remove('d-none');
                ongletCompteAlert.classList.add('alert-success');
                ongletCompteAlert.innerHTML = "Paramètres du compre mis à jour";

            }

        })
        .catch(error => console.log('error', error));

    });
</script>
<script>
    let boutonOnglet = document.querySelectorAll(".boutonOnglet");

    boutonOnglet.forEach(bouton => {


        bouton.addEventListener('click', function(){
            
            document.querySelector(".boutonOnglet.active").classList.remove('active')

            bouton.classList.add('active');
            let ongletId = bouton.getAttribute('onglet');
            let onglet = document.querySelector('#' + ongletId);
            let ongletsProfille = document.querySelectorAll('.ongletsProfile');

            ongletsProfille.forEach(ongletProfille => {

                ongletProfille.classList.add('d-none');

            });

            onglet.classList.add('d-block');
            onglet.classList.remove('d-none');


        });

    })

</script>
<script>

    let measurmentForm = document.querySelector('#measurmentForm');

    let weightZone = document.querySelector("#weightZone")
    let sizeZone = document.querySelector("#sizeZone")
    let suroundShoulersZone = document.querySelector("#suroundSouldersZone")
    let suroundWaistZone = document.querySelector("#suroundWaistZone")
    let suroundArmsZone = document.querySelector("#suroundArmsZone")
    let suroundChestZone = document.querySelector("#suroundChestZone")

    let weight = document.querySelector("#weight")
    let size = document.querySelector("#size")
    let suroundShoulers = document.querySelector("#suroundSoulders")
    let suroundWaist = document.querySelector("#suroundWaist")
    let suroundArms = document.querySelector("#suroundArms")
    let suroundChest = document.querySelector('#suroundChest')
    let ongletMeasurmentAlert = document.querySelector('#ongletMeasurmentAlert');
    let measurmentTableBody = document.querySelector('#measurmentTableBody');

    measurmentForm.addEventListener('submit', function(event){

        event.preventDefault();

        const rawData = JSON.stringify({
            weight: weight.value,
            size: size.value,
            suroundShoulers: suroundShoulers.value,
            suroundWaist: suroundWaist.value,
            suroundArms: suroundArms.value,
            suroundChest: suroundChest.value
        });

        fetch('/api/measurment', {
            method: 'POST',
            headers: {"Content-Type" : "application/json"},
            body: rawData
        }).then(response => response.json())
        .then(data => {
            
            
            if(data.code != 201){

                ongletMeasurmentAlert.classList.remove('alert-danger');
                ongletMeasurmentAlert.classList.remove('d-none');
                ongletMeasurmentAlert.classList.add('alert-success');
                ongletMeasurmentAlert.innerHTML = "Error : " + data.code + " <br> " + data.message;
                

            } else {

                ongletMeasurmentAlert.classList.remove('alert-danger');
                ongletMeasurmentAlert.classList.remove('d-none');
                ongletMeasurmentAlert.classList.add('alert-success');
                ongletMeasurmentAlert.innerHTML = data.message;
                fetchMeasurment();

            }

        })
        .catch(error => console.log('error', error));


    });

    async function fetchMeasurment() {

        let row = '';

        const promise = await fetch('/api/measurment', {
        methode: 'GET',
        headers: {'Content-type': 'application/json'}
        }).catch(error => console.log('error', error));

        let res = await promise.json();

        if (res.code == 200){

            const lastMeasurment = res.data[0]

            weightZone.innerHTML = lastMeasurment.weight; 
            sizeZone.innerHTML = lastMeasurment.size; 
            suroundShoulersZone.innerHTML = lastMeasurment.suroundShoulers; 
            suroundWaistZone.innerHTML = lastMeasurment.suroundWaist; 
            suroundArmsZone.innerHTML = lastMeasurment.suroundArms; 
            suroundChestZone.innerHTML = lastMeasurment.suroundChest;

            res.data.forEach(measurment => {

                row += '<tr><td>' + measurment.size + ' cm </td><td> ' + measurment.weight + ' kg </td>';
                row += '<td>' + measurment.suroundShoulers + '</td><td> ' + measurment.suroundChest + '</td>';
                row += '<td>' + measurment.suroundArms + '</td><td> ' + measurment.suroundWaist + '</td></tr>';

            });

            measurmentTableBody.innerHTML = row;

        }

    }
    fetchMeasurment();
</script>