<% title = "S'inscrire" %>

<%- contentFor('main') %>
<h2 class="my-5">Sign up</h2>
<form action="/sign" method="post">
    <section>
        <label for="name">Name</label>
        <input class="form-control" id="name" name="name" type="text" autocomplete="name" value="Emile" required>
    </section>
    <section>
        <label for="email">Email</label>
        <input class="form-control" id="email" name="email" type="text" autocomplete="email" value="emile00013@gmail.com" required>
    </section>
    <section>
        <label for="new-password">Password</label>
        <input class="form-control" id="new-password" name="password" type="password" autocomplete="new-password" value="Password" required>
    </section>
    <button class="btn btn-primary" type="submit">Sign up</button>
</form>