<h1>Sign up</h1>
<form action="/signup" method="post">
    <section>
        <label for="name">Name</label>
        <input id="name" name="name" type="text" autocomplete="name" value="Emile" required>
    </section>
    <section>
        <label for="username">Email</label>
        <input id="username" name="username" type="text" autocomplete="username" value="emile00013@gmail.com" required>
    </section>
    <section>
        <label for="new-password">Password</label>
        <input id="new-password" name="password" type="password" autocomplete="new-password" value="Password" required>
    </section>
    <button type="submit">Sign up</button>
</form>