<% title = "Child Template" %>

<%- contentFor('main') %>
<h2 class="my-5">Train</h2>
<div class="d-flex justify-content-center">
    <a class="h3 p-3 mb-2 border border-warning rounded link-underline-light bg-warning link-white" href="/train/request">
        Let's start a new program !
    </a>
</div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col" colspan="2">
                    Train name
                </th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>
                        <span id="trainName">
                        </span>
                    </td>
                    <td>
                        <button type="button" data-id-train="e" class="btn btn-success">
                            Play
                        </button>
                    </th>
                </tr>
        </tbody>
    </table>
<script>
    fetch('/api/train', {
        method: 'GET',
        headers:{
            'Content-Type': 'application/json'
        }
    }).then(response=>response.json())
    .then(data => {

        if (data.code === 200){
        
            console.log(data.data);
        
        } else {

            alert('error')
        }


    })
</script>
