<% title = "Entraînement | aperçu" %>

<%- contentFor('mainWithoutMarge') %>
<%- contentFor('main') %>
<div class="d-flex justify-content-center my-5">
    <a class="h3 p-3 mb-2 border border-warning rounded link-underline-light bg-warning link-white" href="/train/request">
        Let's start a new program !
    </a>
</div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col" colspan="2">
                    Train name
                </th>
            </tr>
        </thead>
        <tbody id="trainList">
        </tbody>
    </table>
<script>
    const exercises = [
  {
    nameExercise: 'Push-ups',
    time: 60 // in seconds
  },
  {
    nameExercise: 'Squats',
    time: 45
  },
  {
    nameExercise: 'Plank',
    time: 30
  }
];

let currentExerciseIndex = 0;
let timeLeft = 0;
let timerInterval = null;

function startWorkout(exercisesArray) {
  currentExerciseIndex = 0;
  startExercise(exercisesArray);
}

function startExercise(exercisesArray) {
  if (currentExerciseIndex >= exercisesArray.length) {
    console.log("Workout finished 💪");
    return;
  }

  const currentExercise = exercisesArray[currentExerciseIndex];
  timeLeft = currentExercise.time;

  console.log(`Start: ${currentExercise.nameExercise} (${timeLeft}s)`);

  timerInterval = setInterval(() => {
    console.log(`${currentExercise.nameExercise}: ${timeLeft}s remaining`);
    timeLeft--;

    if (timeLeft < 0) {
      clearInterval(timerInterval);
      console.log(`${currentExercise.nameExercise} done ✅\n`);
      currentExerciseIndex++;
      startExercise(exercisesArray);
    }
  }, 1000);
}

// Start the workout
startWorkout(exercises);
</script>
<script src='/js/train/get.js'></script>
