/* .max-500 {
    max-width: 500px;
}

/* .modal-fullscreen {
    width: 100%;
    /* width: 100vw;
}*/

@media (max-width: 1000px) {

    .main-container {
        max-width: 100%;
        width: 100%;
    }


    .modal-xl-down {

    width: 100vw;
    max-width: 100vw;
    margin: 5px;
    /* width: 100%; */

}
} 

