/* .max-500 {
    max-width: 500px;
}

/* .modal-fullscreen {
    width: 100%;
    /* width: 100vw;
}*/

@media (max-width: 1000px) {

    .main-container {
        max-width: 100%;
        width: 100%;
    }

    h1 {font-size : 66px; }

    h2 {font-size : 57px;}

    h3 {font-size : 57px;}

    h4 {font-size : 50px;}

    h5 {font-size : 45px;}
    body, button, input, .btn, .form-control, .link { font-size : 35px;}

    .modal-xl-down {
        width: 100vw;
        max-width: 100vw;
        margin: 5px;
        /* width: 100%; */
    } 

    .my-md-5-down {
        padding-top: 1.618em; 
    }
} 

