/* .max-500 {
    max-width: 500px;
}

/* .modal-fullscreen {
    width: 100%;
    /* width: 100vw;
}*/
body {
    font-family: 'Montserrat';
    /* , 'Playfair Display' ;  */
}

.btn-outline-primary {
    color: #003060;
    border-color: #003060;
}

.btn-outline-primary:hover {
    background-color: #003060;
    border-color: #003060;

}

.btn-primary {
    background-color: #003060;
    border-color: #003060;
}

.btn-primary:hover {
    background-color: #002040;
    border-color: #002040;

}

.btn-outline-danger {
    color: #801515;
    border-color: #801515;
}

.btn-outline-danger:hover {
    background-color: #801515;
    border-color: #2d3b49;

}

.btn-danger {
    background-color: #801515;
    border-color: #801515;
}

.btn-danger:hover {
    background-color: #002040;
    border-color: #002040;

}




@media (max-width: 1000px) {

    .main-container {
        max-width: 100%;
        width: 100%;
    }

    h1 {font-size : 66px; }

    h2 {font-size : 57px;}

    h3 {font-size : 57px;}

    h4 {font-size : 50px;}

    h5 {font-size : 45px;}
    body, button, input, .btn, .form-control, .link { font-size : 35px;}

    .modal-xl-down {
        width: 100vw;
        max-width: 100vw;
        margin: 5px;
        /* width: 100%; */
    } 

    .my-md-5-down {
        padding-top: 1.618em; 
    }
} 

.navbar {
    background-color: #003060;
    color : white;
}

.navbar-nav > .nav-link {
    color: white;
    font-weight: 380;
}

.navbar-nav > .nav-link:hover {
    transition: transform 0.4s ease;
    transform: scale(1.08);
}


.navbar-nav > .nav-link:hover {
    color: #d0d0d0;;
}

.navbar-nav > .nav-link.active {
    color: white;
    font-weight: 520;
}

