/* .max-500 {
    max-width: 500px;
}

/* .modal-fullscreen {
    width: 100%;
    /* width: 100vw;
}*/
body {
    font-family: 'Montserrat';

    /* , 'Playfair Display' ;  */
}

.btn-outline-primary {
    color: #003060;
    border-color: #003060;
}

.btn-outline-primary:hover {
    background-color: #003060;
    border-color: #003060;

}

.bg-primary {
    background-color: #003060;
}

.btn-primary {
    background-color: #003060;
    border-color: #003060;
}

.btn-primary:hover {
    background-color: #002040;
    border-color: #002040;

}

.btn-outline-danger {
    color: #801515;
    border-color: #801515;
}

.btn-outline-danger:hover {
    background-color: #801515;
    border-color: #2d3b49;

}

.btn-danger {
    background-color: #801515;
    border-color: #801515;
}

.btn-danger:hover {
    background-color: #002040;
    border-color: #002040;

}

.secondary-navbar {
    font-size: 16px;
}



.navbar {
    background-color: #003060;
}

.navbar-nav > .nav-link, .nav-item > .nav-link   {
    color: white;
    font-weight: 380;
}

.navbar-nav > .nav-link:hover, .nav-item > .nav-link:hover  {
    transition: transform 0.4s ease;
    transform: scale(1.08);
}


.navbar-nav > .nav-link:hover, .nav-item > .nav-link:hover  {
    color: #d0d0d0;;
}

.navbar-nav > .nav-link.active, .nav-item > .nav-link.active  {
    font-weight: 520;
    color: white;
}



@media (max-width: 1300px) {

    .main-container {
        max-width: 100%;
        width: 100%;
    }

    h1, .h1 {font-size : 2.6em; }

    h2, .h2 {font-size : 2.3em;}

    h3, .h3 {font-size : 2.05em;}

    h4, .h4 {font-size : 1.8em;}

    h5, .h5 {font-size : 1.6em;}

    .primary-text-responsive { 
        font-size : 1.43em;
    }

   .text-responsive { 
        font-size : 1.35em;
    }

    .text-body-secondary-responsive { 
        font-size : 1.19em;
    }

    .modal-xl-down {
        width: 100vw;
        max-width: 100vw;
        margin: 5px;
    }

    .my-md-5-down {
        padding-top: 1.618em;
    }
}

@media (max-width: 1000px) {

    .main-container {
        max-width: 100%;
        width: 100%;
    }

    h1, .h1 {font-size : 3em; }

    h2, .h2 {font-size : 2.8em;}

    h3, .h3 {font-size : 2.45em;}

    h4, .h4 {font-size : 2.15em;}

    h5, .h5 {font-size : 1.9em;}

    .primary-text-responsive { 
        font-size : 1.8em;
    }

   .text-responsive { 
        font-size : 1.7em;
    }

    .text-body-secondary-responsive { 
        font-size : 1.5em;
    }

    .modal-xl-down {
        width: 100vw;
        max-width: 100vw;
        margin: 5px;
    }

    .my-md-5-down {
        padding-top: 1.618em;
    }
}