<div class="modal fade" id="detailFoodModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-xl-down">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-4" id="exampleModalLabel">Extra large modal</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group input-group-lg my-5">
          <span class="input-group-text w-25"> Énergie</span>
          <input type="text" class="kcal form-control w-50" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
          <span class="input-group-text w-25"> Kcal </span>
        </div>

        <div class="input-group input-group-lg my-5">
          <span class="input-group-text w-25"> Glucide</span>
          <input type="text" class="carbo form-control w-50" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
          <span class="input-group-text w-25"> G </span>
        </div>

        <div class="input-group input-group-lg my-5">
          <span class="input-group-text w-25"> Protéine</span>
          <input type="text" class="protein form-control w-50" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
          <span class="input-group-text w-25"> G </span>
        </div>

        <div class="input-group input-group-lg my-5">
          <span class="input-group-text w-25"> Lipide</span>
          <input type="text" class="fat form-control w-50" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
          <span class="input-group-text w-25"> G </span>
        </div>
      </div>
    </div>  
  </div>
</div>