<% title = "Bibliographie !" %>

<%- contentFor('mainWithoutMarge') %>

<%- contentFor('main') %>
<h1 class="my-5">Bibliographie</h1>
<% 

bibliographies.forEach(bibliography => {%>
    <p>
        <a class="link" href="<%= bibliography.url %>">
            <%= bibliography.libele %>
        </a>
    </p>
<%}) %>