<div class="my-5 my-md-5-down">
  <h3 > Besoins <a class="btn btn-outline-primary" ="" id="detailsAteFoods">Details</a> </h3>  
  <table class="table table-bordered mb-5">
    <thead>
      <tr>
        <th>Energie</th>
        <th>Protéine</th>
        <th>Lipide</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> kcal </td>
        <td> g </td>
        <td> g </td>
      </tr>
      <tr>
        <td> <span id="kcalAteAbs"></span> kcal </td>
        <td> <span id="protAteAbs"></span> g </td>
        <td> <span id="fatAteAbs"></span> g </td>
      </tr>
      <tr>
        <td> <span id="kcalAtePrct"></span> % </td>
        <td> <span id="protAtePrct"></span> % </td>
        <td> <span id="fatAtePrct"></span> % </td>
      </tr>
    </tbody>
  </table>
</div>